.row.text-center
  .col-md-6
    %img.logo{:src => image_url('logo.png')}
  .col-md-6{:style => 'padding-top: 50px;'}

    %i.episode-title Carregando episódio aleátorio...
    %br
    .btn-group
      %button.btn.btn-success.btn-lg.btn-xlg{:id => 'btn-play'}
        %span#play.fa.fa-play.aligned{:title => "Iniciar"}
      %button.btn.btn-primary.btn-lg.btn-xlg{:id => 'btn-pause'}
        %span#play.fa.fa-pause.aligned{:title => "Pausar"}
      %button.btn.btn-warning.btn-lg.btn-xlg{:id => 'btn-change'}
        %span#play.fa.fa-random.aligned{:title => "Mudar episódio"}
      %button.btn.btn-warning.btn-lg.btn-xlg{:onClick => 'window.location.reload()'}
        %span#play.fa.fa-refresh.aligned{:title => "Mudar podcast"}
      %button.btn.btn-danger.btn-lg.btn-xlg{:id => 'btn-stop'}
        %span#stop.fa.fa-stop.aligned{:title => "Parar"}
    
    %br
    %br
    %i.fa.fa-spinner.fa-spin.fa-3x.fa-fw.loading

.row.text-center
  .col-sm-12
    %hr
  .col-sm-6
    %a{:href => "feed://feeds.feedburner.com/naoouvo"}
      %h3
        = fa_icon "rss-square"
        Assine o feed
  .col-sm-6
    %a{:href => "https://twitter.com/NaoOuvo", :target => "_blank"}
      %h3
        = fa_icon "twitter-square"
        Siga no Twitter
  .col-sm-12
    %br
    %a.pull-left{:href => "bitcoin:1QxRaAR6AevWc54wFiJG11aUtYGEhXy2d", :title => 'Contribua com o LoremOuvo'}
      %small.text-muted 1QxRaAR6AevWc54wFiJG11aUtYGEhXy2d
    %a.pull-right{:href => "https://github.com/lenilsonjr/LoremOuvo", :target => '_blank'}
      %small.text-muted ver no GitHub
    %hr
    %small.text-muted O LoremOuvo não tem nenhuma afiliação com o Não Salvo ou com o Não Ouvo.
